* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
}

.button {
    color: gray;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 20px
}

.active {
    color: black;
    background-color: black;
}

.creator {
    width: 50%;
}

.predictor {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}

.predictor div {
    margin: 10px
}