/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'BlueBubbles';
    src: url('./assets/fonts/BlueBubbles-gwE7P.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black   
}